{
    "arrowParens": "always",
    "bracketSpacing": true,
    "eslintIntegration": true,
    "printWidth": 160,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false
}
