.AdminPage {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.AdminPage-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .AdminPage-logo {
    animation: AdminPage-logo-spin infinite 20s linear;
  }
}

.AdminPage-header {
  background-color: rgba(0, 0, 0, .03);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AdminPage-link {
  color: #61dafb;
}

@keyframes AdminPage-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
