/* ========== Tournaments ========== */

.tournaments {
  padding-bottom: 30px;
}

.tournaments .tournament-box {
  box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #fff;
  margin-bottom: 30px;
}

.tournaments .tournament-box i {
  display: block;
  font-size: 64px;
  margin-bottom: 15px;
}

.tournaments .tournament-box span {
  font-size: 42px;
  display: block;
  font-weight: 700;
  color: #1c5c93;
}

.tournaments .tournament-box p {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

/* ========== Miscelaneous ========== */

.tournament-title {
  font-family: 'Dusha', serif;
}

.confed-tab {
  width: 14%;
  text-align: center;
}

.card-img-top-height-100 {
  width: auto;
  height: 100px;
  max-width: 100%;
}

@media (max-width: 992px) {
  .team-name-no-padding-right {
    padding-right: 0;
  }
}

.team-name,
.score {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}

/* .score {
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
} */

@media (max-width: 576px) {
  .team-name,
  .score {
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 7px;
  }

  /* .score {
    font-size: 1.25rem;
    font-weight: 600;
    padding-top: 7px;
  } */

  .no-display-xs {
    display: none;
  }

  .margin-top-time-xs {
    margin-top: 3px;
  }
}

/* ========== Nav Tabs Override ========== */

.nav-link.disabled {
  color: #87d977;
}

.nav-tabs .nav-link:hover {
  color: #cc1442;
}

.nav-tabs .nav-link.active {
  color: #007bff;
}

.nav-tabs .nav-link {
  color: #1988ff;
}
