/* ========== Champions ========== */

.champ {
  background: #fff;
  padding: 60px 0 30px 0;
}

.champ .player {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.champ .player .pic {
  border-radius: 4px;
  overflow: hidden;
}

.champ .player img {
  transition: all ease-in-out 0.4s;
}

.champ .player:hover img {
  transform: scale(1.1);
}

.champ .player .player-info {
  position: absolute;
  bottom: -48px;
  left: 20px;
  right: 20px;
  background: linear-gradient(360deg, #CC1442 0%, rgba(222, 22, 72, 0.7) 35%, rgba(233, 30, 81, 0.2) 100%);
  padding: 15px 0;
  border-radius: 4px;
}

.champ .player h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
  position: relative;
  padding-bottom: 10px;
}

.champ .player h4::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #fff;
  bottom: 0;
  left: calc(50% - 25px);
}

.champ .player span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

.champ .player .social {
  margin-top: 15px;
}

.champ .player .social a {
  transition: color 0.3s;
  color: #fff;
}

.champ .player .social a:hover {
  color: #9eccf4;
}

.champ .player .social i {
  font-size: 16px;
  margin: 0 2px;
}

@media (max-width: 992px) {
  .champ .player {
    margin-bottom: 100px;
  }
}
